<!-- For a page, when adding new content -->
			<!-- Section with content -->
			<div class="page Content1">
				<h2>Page Content</h2>
				<p>
				Insert Content Here
				</p>
			</div>

<!-- Paper Recommendation -->
			<!-- Paper Nickname -->
			<div class="page recc">
				<h2><a href="link">Title</a></h2>
				<h3>Author(s)</h3>
				<h4>Abstract:</h4>
				<p>
				Copy and paste abstract
				</p>
			</div>

<!-- Publications -->
					<tr>
						<td>Title</td>
						<td><a href="../files/LINK.pdf">PDF</a></td>
						<td><a href="../files/LINK.bib">Bibtex</a></td>
					</tr>

<!-- Projects -->
			<!-- Section with content -->
			<div class="page project">
				<h2>Title</h2>
				<h4>Collaborators</h4>
				<h5>tags</h5>
				<p>
				Description
				</p>
			</div>