<!DOCTYPE html>
<html lang="en">
	<!-- HEAD OF DOCUMENT -->
	<head>
		<!-- META DATA -->
		<meta charset="UTF-8">
		<!-- Set viewport to be width of device (mobile friendly) -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="author" content="Andy Hammer">
		<!-- STYLE SHEET -->
		<link rel="stylesheet" href="../style.css">
		<!-- TITLE OF PAGE -->
		<title>
		A. Hammer | Insert Page Title
		</title>
	</head>
	
	<!-- BODY OF DOCUMENT -->
	<body>
		<!-- NAVIGATION BAR -->
		<div class="nav bar">
			<!-- Navigation Bar Header -->
			<header style="text-align: center; font-size: xx-large">
				<strong>ARH</strong>
			</header>
			<!-- Links to other pages -->
			<ul class="nav-links">
				<nav>
					<!-- Home page -->
					<li><a href="../index.html">Home</a></li>
					<!-- Current Research -->
					<li><a href="CurrentResearch.html">Current Research</a></li>
					<!-- Publications -->
					<li><a href="Publications.html">Publications</a></li>
					<!-- Tutorials -->
					<li><a href="Tutorials.html">Tutorials</a></li>
					<!-- Paper recommendations -->
					<li><a href="Papers.html">Paper Recommendations</a></li>
					<!-- At some point, insert link to personal website -->
				</nav>
			</ul>
		</div>
		
		<!-- CONTENT OF PAGE -->
		<div class="nav content">
			
			<!-- Header with page information -->
			<header class="page title">
				<div class="pageInfo">
					<h1>Page Title</h1>
					<p>Page information</p>
				</div>
			</header>
			
			<!-- Section with content -->
			<div class="page Content1">
				<h2>Page Content</h2>
				<p>
				Insert Content Here
				</p>
			</div>
		</div>
	</body>
</html>