<!DOCTYPE html>
<html lang="en">
	<!-- HEAD OF DOCUMENT -->
	<head>
		<!-- META DATA -->
		<meta charset="UTF-8">
		<!-- Set viewport to be width of device (mobile friendly) -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="author" content="Andy Hammer">
		<!-- STYLE SHEET -->
		<link rel="stylesheet" href="../../style.css">
		<!-- TITLE OF PAGE -->
		<title>
		Insert Page Title
		</title>
	</head>
	
	<!-- BODY OF DOCUMENT -->
	<body>
		<!-- NAVIGATION BAR -->
		<div class="nav bar">
			<!-- Navigation Bar Header -->
			<header style="text-align: center; font-size: xx-large">
				<strong>ARH</strong>
			</header>
			<!-- Links to other pages -->
			<ul class="nav-links">
				<nav>
					<!-- Home page -->
					<li><a href="../../index.html">Website Home</a></li>
					<li style="font-size:large">Navigation</li>
					<ul style="list-style-type: disc;>
						<li><a href="#id1">Introduction</a></li>
						<li><a href="#id2">Section</a></li>
					</ul>
				</nav>
			</ul>
		</div>
		
		<!-- CONTENT OF PAGE -->
		<div class="nav content">
			
			<!-- Header with page information -->
			<header class="page title">
				<div class="pageInfo">
					<h1 id="id1">Tool Tutorial</h1>
					<p>Page information</p>
				</div>
			</header>
			
			<!-- Section with content -->
			<div class="page tamarin">
				<h2 id="id2">Section Header</h2>
				<p>
				Section Content
				</p>
			</div>
		</div>
	</body>
</html>